<script>
	setActiveClass(2);
</script>
<!-- Η δεύτερη στήλη καταλαμβάνει 82% με το content της σελίδας στοιχισμένο προς τα πάνω -->
<!-- Για να μην εμφανίζεται κολλητά στα περιθώρια το περιεχόμενο βάζουμε padding 20pixels εκτός της πάνω μεριάς -->
<!-- Εδώ θέλουμε να φαίνεται η διαχωριστική γραμμή ανάμεσα στα κελιά - border μαύρο συμπαγές-->
<td style="width: 82%; border: 1px solid black; vertical-align: top; padding: 0px 20px 20px 20px"> 

	<h1> Οδηγίες εμβολιασμού </h1>   <!-- Ο τίτλος με heading 1 όπως ζητείται -->

	<!-- Δευτερεύον τίτλος με heading 2 -->
	<h2> Για να εμβολιαστεί κάποιος πολίτης θα πρέπει πρώτα να κλείσει κάποιο ραντεβού ακολουθώντας τα παρακάτω βήματα: </h2>    

	<br>   <!-- αλλαγή γραμμής -->
	
	<!-- Αριθμημένη λίστα με τα βήματα που πρέπει να ακολουθηθούν για το κλείσιμο ραντεβού -->
	<ol>
		<li> Εγγραφή στην πλατφόρμα (για την οποία δεν είναι απαραίτητο ο χρήστης να ανήκει σε κάποια συγκεκριμένη ηλικιακή ομάδα) </li>
		<li> Είσοδος στην πλατφόρμα (με βάση τα στοιχεία που εισήχθησαν κατά την εγγραφή) </li>
		<li> Επιλογής ημερομηνίας, ώρας και Εμβολιαστικού Κέντρου (βάση των διαθέσιμων ραντεβού) εφόσον ανήκει στην 
		ηλικιακή ομάδα 40 έως 65 ετών.  </li>
	</ol>	

	<br>   <!-- αλλαγή γραμμής -->
	

	<!-- Δευτερεύον τίτλος με heading 2 -->
	<h2> Την ημέρα του ραντεβού, ο πολίτης οφείλει: </h2>    

	<br>    <!-- αλλαγή γραμμής -->
	
	<!-- Αριθμημένη λίστα με οδηγίες για την ημέρα του ραντεβού -->
	<ol>
		<li> Να προσέλθει στο Εμβολιαστικό Κέντρο τουλάχιστον 15 λεπτά πριν από την ώρα του ραντεβού </li>
		<li> Να φέρει την Αστυνομική Ταυτότητα ή Διαβατήριο ή άλλο επίσημο έγγραφο, προκειμένου να πραγματοποιηθεί ταυτοποίηση των στοιχείων του. </li>
		<li> Να γνωρίζει τον Αριθμό Δελτίου Ταυτότητας (ΑΔΤ), τον Αριθμό Μητρώου Κοινωνικής Ασφάλισης (ΑΜΚΑ) ή τον Αριθμό Φορολογικού Μητρώου (ΑΦΜ) </li>
	</ol>	

	<br> <br>

	<!-- Η διευκρίνιση που απαιτεί η εκφώνηση με bold -->
	<b> Διευκρινίζεται ότι ο εμβολιασμός που αφορά στη χρονική περίοδο: 26 Νοεμβρίου 2021 έως 1η Φεβρουαρίου 2022 επιτρέπεται μόνο για άτομα ηλικίας από 40 έως 65 ετών. </b>

</td>